@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background: #F6FBF4;
}

.banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 300px;
    width: 400px;
    height: 320px;
    background: #F5DF99;
    z-index: 1;
    transition: 1s;
}

.banner.active:before {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #2E3840;
}

.banner:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 400px;
    height: 200px;
    background: #F5DF99;
    z-index: 1;
    transition: 1s;
}

.banner.active:after {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #151415;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

header .logo {
    font-size: 2em;
    color: #4B8673;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    transform-origin: right;
}

.banner.active .logo {
    transform: scale(0);
    transform-origin: left;
}

.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

.toggle.active {
    background: url(./img/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.content {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5%;
    transform-origin: right;
}

.banner.active .content {
    transform: scale(0);
    transform-origin: left;
}

.content .contentBx {
    max-width: 600px;
}

.content .contentBx h2 {
    font-size: 4em;
    line-height: 1em;
    color: #4B8673;
    text-transform: uppercase;
}

.content .contentBx p {
    font-size: 1em;
    color: #4B8673;
    margin: 20px 0;
}

.content .contentBx .buttonBuy {
    display: inline-block;
    border: 1px solid #4B8673;
    color: #4B8673;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}

.content .contentBx .buttonBuy:hover {
    letter-spacing: 4px;
    background: #4B8673;
    color: #111;
}

/* .imgBx img {
    max-width: 100%;
    min-width: 400px;
} */

.sci {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
    transform-origin: right;
}

.banner.active .sci {
    transform: scale(0);
    transform-origin: left;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.6);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
}

.banner.active .menu {
    visibility: visible;
    opacity: 1;
    transition-delay: 1s;
}

.menu li {
    list-style: none;
}

.menu li a {
    color: #4B8673;
    text-decoration: none;
    font-size: 2em;
}

@media (max-width: 991px) {
    header {
        padding: 20px 40px;
    }

    .banner {
        padding: 40px;
        overflow: hidden;
    }

    .banner:before {
        top: 100px;
        left: 0;
        width: 170px;
        height: 310px;
    }

    .banner:after {
        bottom: 0;
        right: 0;
        width: 80px;
        height: 60px;
    }

    .content {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .content .contentBx {
        max-width: 100%;
        min-width: 300px;
    }

    .content .contentBx h2 {
        font-size: 2.5em;
    }
}

/* Product */

.kartu {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    /* border-radius: 20px; */
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.kartu:hover {
    width: 600px;
    transition-delay: 0s;
}

.kartu .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kartu .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.kartu:hover .circle::before {
    clip-path: circle(400px at center);
}

.kartu .circle .logo {
    position: relative;
    width: 200px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.kartu:hover .circle .logo {
    transform: scale(0);
    transition-delay: 0s;
}

.contents {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.kartu:hover .contents {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.contents h2 {
    color: #4B8673;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.contents p {
    color: #4B8673;
}

.contents .link {
    position: relative;
    color: #111;
    background: #4B8673;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.kartu .product_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 120%;
    transition: 0.5s;
    transition-delay: 0s;
}

.kartu:hover .product_img {
    left: 72%;
    transform: translate(-50%, -50%) scale(1);
    transition-delay: 0.5s;
}

/* responsive */
@media (max-width: 991px) {
    .kartu {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
    }

    .kartu:hover {
        height: 600px;
    }

    .kartu:hover .product_img {
        top: initial;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0%) scale(1);
        height: 300px;
    }

    .kartu .contents {
        width: 100%;
        left: 0;
        padding: 40px;
    }
}

/* button */

.box {
    position: relative;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    inset: -5px 70px;
    background: linear-gradient(315deg, #016344, #4B8673);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.box:hover::before {
    inset: -10px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}

.konten {
    position: absolute;
    inset: 15px;
    border: 3px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.konten .foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.box:hover .konten .foto {
    opacity: 0;
}

.konten .isi {
    position: relative;
    font-size: 0.7em;
    text-align: center;
    color: #b41b1b;
    font-weight: 150;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.konten .isi span {
    font-weight: 75;
    font-size: 0.37em;
}

.konten .tautan {
    position: relative;
    margin-top: 5px;
    padding: 5px 10px;
    background: #4B8673;
    color: #070a1c;
    border-radius: 13px;
    font-weight: 250;
    font-size: 0.63em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: 0.5s;
}

.konten .tautan:hover {
    letter-spacing: 0.1em;
}

/* payment */
.payment {
    background: #f8f8f8;
    max-width: 360px;
    margin: 80px auto;
    height: auto;
    padding: 35px;
    padding-top: 70px;
    border-radius: 5px;
    position: relative;
}

.payment h2 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #0d3c61;
}

.formPayment .label {
    display: block;
    color: #555555;
    margin-bottom: 6px;
}

.input {
    padding: 13px 0px 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-spacing: 3px;
    outline: none;
    font-size: 16px;
    color: #555555;
}

.card-grp {
    display: flex;
    justify-content: space-between;
}

.card-item {
    width: 48%;
}

.space {
    margin-bottom: 20px;
}

.icon-relative {
    position: relative;
}

.icon-relative .fas,
.icon-relative .far {
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 20px;
    color: #555555;
}

.btnn {
    margin-top: 40px;
    background: #4B8673;
    padding: 12px;
    text-align: center;
    color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
}


.payment-logo {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 85px;
}

.payment-logo:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #4B8673;
    border-radius: 50%;
}

.payment-logo .logoPayment {
    position: relative;
    color: #f8f8f8;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 58px;
}


@media screen and (max-width: 420px) {
    .card-grp {
        flex-direction: column;
    }

    .card-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .btn {
        margin-top: 20px;
    }
}